<h1>Index Page</h1>
<% @workouts.each do |workout| %>
	<ul>
		<li>
			<%= workout.date %>
			<%= workout.workout %>
			<%= workout.mood %>
			<%= workout.length %>
			<%= link_to "Show", workout_path(workout) %>
			<%= link_to "Edit", edit_workout_path(workout) %>
			<%= link_to "Delete", workout_path(workout), method: :delete, data: {confirm: "Are you sure?"} %>
		</li>
	</ul>
<% end %>

<%= link_to "Create New Workout", new_workout_path %>